<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<div class='inline-show'>
  <input id="accept" name="accept" type="checkbox" <%= @task.completed == true ? 'checked' : '' %> value="1" />
  <p>Task is completed !</p>
</div>

<%= link_to 'edit your task', edit_path(@task) %>

<%= link_to 'Back to the list', tasks_path %>
